*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
}
main header{
    display: grid;
    height: 70px;
    background-color: rgb(43, 105, 105);
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: end;
}
main header div{
    color: black;
    margin-right: 1rem;
}
.nav-left{
    height: 100vh;
}
.newReceita{
    background-color: rgb(240, 240, 240);
    width: 300px;
    padding: 1rem;
    border-radius: 1vw;
    height: 35rem;
}
#category #category:focus{
    text-align-last: center;
    
}

.table-css{
    width: 50vw;
    height: 50vh;
    overflow-x: hidden;
}
.headerContainerData{
    height: 10vh;
}

.thead-light{
    font-size: 1.2em;
    position: absolute;
    top: 9.5rem;
}
.thead-light tr{
    display: flex;
    padding: 0 0 0 0.8rem;
}
.thead-light tr th{
    display: flex;
    justify-content: center;
    margin-right: 3.1rem;
}
#addIncome{
    margin-top: 1vh;
}
.table-css::-webkit-scrollbar {
    width: 5px;        
}
.table-css::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */ 
}
.removerOption{
    display: none;
}