.newReceita{
    background-color: rgb(240, 240, 240);
    width: 300px;
    padding: 1rem;
    border-radius: 1vw;
    height: 45vh;
    margin-right: 1.5vw;
}
.back{
    border: 1px solid rgb(224, 213, 213);
    padding: 0  0  0 1vw;

}
.table-css{
    width: 50vw;
    height: 50vh;
    overflow-x: hidden;
    position: relative;
    
}
.thead-light{
    font-size: 1.2em;
}
#addIncome{
    margin-top: 1vh;
}
.table-css::-webkit-scrollbar {
    width: 5px;        
}
.table-css::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
   
  }